# Variables and math

In [1]:
x=2.4
y="Hello world!"
z=None

print(y)
print("x=", x)
print("z=", z)

Hello world!
x= 2.4
z= None

In [2]:
# Addition, multiplication, power
print(x+4, x*2, x**5)

6.4 4.8 79.62623999999998

In [7]:
from math import *

print(log(2))
print(exp(1))
print(sqrt(2))

0.6931471805599453
2.718281828459045
1.4142135623730951

In [8]:
print(arcsin(1))

NameError: name 'arcsin' is not defined

In [12]:
import numpy as np

2*np.arcsin(1)

3.141592653589793

# Lists

In [29]:
L=[ 2, "Tehran", "Shiraz" , "Ahvaz"]
K=["X", "Y"]

L

[2, 'Tehran', 'Shiraz', 'Ahvaz']

In [23]:
print(len(L), len(K))

4 2

In [25]:
L[4]

IndexError: list index out of range

In [26]:
L[-1]

'Ahvaz'

In [27]:
# From index 2 on
L[2:]

['Shiraz', 'Ahvaz']

In [28]:
L[:2]

[2, 'Tehran']

In [32]:
L.append('Mashad')
L

[2, 'Tehran', 'Shiraz', 'Ahvaz', 'Mashad', 'Mashad']

In [33]:
M=L.append(K)
M

[2, 'Tehran', 'Shiraz', 'Ahvaz', 'Mashad', 'Mashad', ['X', 'Y']]

In [35]:
M=L+K
M

[2, 'Tehran', 'Shiraz', 'Ahvaz', 'Mashad', 'Mashad', ['X', 'Y'], 'X', 'Y']

In [18]:
L.extend(K)

L

[2, 'Tehran', 'Shiraz', 'Tabriz', 'Tehran', 'Tabriz', 'Tehran']

In [47]:
L.index("Tehran")

1

In [48]:
L.index('Paris')

ValueError: 'Paris' is not in list

In [50]:
L.remove('Tehran')
L

[2, 'Shiraz', 'Ahvaz', 'Mashad', 'Mashad', ['X', 'Y']]

## List comprehensions

In [37]:
A=[ l for l in L if type(l)==str ]
A

['Tehran', 'Shiraz', 'Ahvaz', 'Mashad', 'Mashad']

In [51]:
range(5)

range(0, 5)

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
B=[ 2*x for x in range(6) ]
B

[0, 2, 4, 6, 8, 10]

In [44]:
C=[(x, x**2) for x in range(10)  ]
C

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

# Strings

In [75]:
x="I live in "
y="Tehran."

z=x+y
z

'I live in Tehran.'

In [52]:
x[0]

'I'

In [53]:
x[5]

'e'

In [76]:
z.replace('Tehran', 'Abadan')

'I live in Abadan.'

In [77]:
z.find('in')

7

In [78]:
z.find('London')

-1

# Conditionals

In [55]:
x= 2.3

if x>2:
    print("x is greater than two!")
elif x==2:
    print(" x equals two!")
else:
    print("x is less than two!")

x is greater than two!

# Loops

In [57]:
for x in L:
    print(x)

2
Shiraz
Ahvaz
Mashad
Mashad
['X', 'Y']

In [58]:
for x in range(10):
    print(x, end=' ')
    
    if x>=5:
        break

0 1 2 3 4 5

# Dictionaries

In [64]:
D={ 'Hamid': 'male',
    'Elham': 'female',
     'Siavash': 'male'
      }

D['Hamid']

'male'

In [65]:
D['Ahmad']

KeyError: 'Ahmad'

In [66]:
D['Ahmad']='male'

In [67]:
D['Ahmad']

'male'

# Functions

In [60]:
def func(x,y):
    if x>y:
        return x
    else:
        return y

In [62]:
func(2,3)

3

In [63]:
def f(x,y):
    return x+y, x*y


f(2,3)

(5, 6)

# File I/O

In [69]:
f=open("myfile.txt", "w")
print("1\n 2\n 3\n 4", file=f)
f.close()

In [70]:
f=open("myfile.txt", 'r')
L=f.readlines()
f.close()
L

['1\n', ' 2\n', ' 3\n', ' 4\n']

In [72]:
K=[ l.lstrip().rstrip() for l in L]
K

['1', '2', '3', '4']

In [73]:
M=[float(x) for x in K]
M

[1.0, 2.0, 3.0, 4.0]

# Exercises

## Write a function that takes a date of the form jan-08-2018 and converts it to the form 08/01/2018

## Write a function that computes exp(x)  using the formula exp(x)=1+x+x^2/2!+x^3/3!+...

Stop when error is less than 0.001. Implement the factorial yourself!

# Further learning

Charles Severance, Python for Everybody (Available online)