# Variables and Math

In [1]:
# You don't need to declare the type of variables. Indeed, in Python, we have dynamic data types rather than static type checking.
x = 2.4
y = "Hello World!"
z = None

print(y)
print("x =", x)
print("z =", z)

Hello World!
x = 2.4
z = None

In [2]:
# Addition, Multiplication, Division, Power, Remainder, Quotient.
print(x + 4, x * 2, x // 2, x ** 5, x % 2, 5 / 2)

6.4 4.8 1.0 79.62623999999998 0.3999999999999999 2.5

In [4]:
# Importing other modules by using * will import all of their content. However, it is recommended 
# to explicitly mention the functions you need while importing to avoid complications such as circular importing.
from math import *

# It is better do this.
from math import log, exp, sqrt

print(log(2))
print(exp(1))
print(sqrt(2))

0.6931471805599453
2.718281828459045
1.4142135623730951

In [5]:
# The math module does not have any arcsin function.
print(arcsin(1))

NameError: name 'arcsin' is not defined

In [6]:
# You can use numpy package for a wide range of numerical and computational tasks.
# Before running this cell make sure that the numpy package is installed. You can install it by using 
# the command `pip install numpy` in the shell or command line.
import numpy as np

2 * np.arcsin(1)

3.141592653589793

# Lists

In [9]:
# Just mentioning the name of a variable at the end of the cell will lead to printing that variable. This is a perk of using jupyter notebooks.
L = [2, "Tehran", "Shiraz" , "Ahvaz"]
K = ["X", "Y"]

L

[2, 'Tehran', 'Shiraz', 'Ahvaz']

In [10]:
# The len function gives the length of the corresponding lists.
print("Length of L = ", len(L))
print("Length of K = ", len(K))

Length of L =  4
Length of K =  2

In [11]:
# The indexing starts from 0, so in a list of length 4, the index for the last element is 3.
L[4]

IndexError: list index out of range

In [14]:
# You can also use negative indexes to access elements. Index -1 refers to the last element, -2 to the one before the last and so on.
L[-1]

'Ahvaz'

In [15]:
# From index 2 to the end.
L[2:]

['Shiraz', 'Ahvaz']

In [17]:
# From the beginning to before index 2.
L[:2]

[2, 'Tehran']

In [21]:
# Append an element to a list.
L.append('Mashad')
L

[2, 'Tehran', 'Shiraz', 'Ahvaz', 'Mashad', ['X', 'Y'], 'Mashad']

In [25]:
# Concatenate lists.
M = L + K
M

[2,
 'Tehran',
 'Shiraz',
 'Ahvaz',
 'Mashad',
 ['X', 'Y'],
 'Mashad',
 ['X', 'Y'],
 ['X', 'Y'],
 'X',
 'Y']

In [27]:
# The same as above.
L.extend(K)
L

[2,
 'Tehran',
 'Shiraz',
 'Ahvaz',
 'Mashad',
 ['X', 'Y'],
 'Mashad',
 ['X', 'Y'],
 ['X', 'Y'],
 'X',
 'Y',
 'X',
 'Y']

In [28]:
L.index("Tehran")

1

In [29]:
L.index('Paris')

ValueError: 'Paris' is not in list

In [30]:
L.remove('Tehran')
L

[2,
 'Shiraz',
 'Ahvaz',
 'Mashad',
 ['X', 'Y'],
 'Mashad',
 ['X', 'Y'],
 ['X', 'Y'],
 'X',
 'Y',
 'X',
 'Y']

## List Comprehensions

In [31]:
# List comprehensions allow you to write a for loop in a natural way in just one line of code.
A = [l for l in L if type(l) == str]
A

['Shiraz', 'Ahvaz', 'Mashad', 'Mashad', 'X', 'Y', 'X', 'Y']

In [32]:
range(5)

range(0, 5)

In [33]:
list(range(5))

[0, 1, 2, 3, 4]

In [34]:
B = [2 * x for x in range(6)]
B

[0, 2, 4, 6, 8, 10]

In [35]:
C = [(x, x ** 2) for x in range(10)]
C

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

# Strings

In [36]:
x = "I live in "
y = "Tehran."

z = x + y
z

'I live in Tehran.'

In [37]:
x[0]

'I'

In [38]:
x[5]

'e'

In [39]:
z.replace('Tehran', 'Abadan')

'I live in Abadan.'

In [40]:
z.find('in')

7

In [41]:
z.find('London')

-1

In [42]:
z.split(' ')

['I', 'live', 'in', 'Tehran.']

# Conditionals

In [43]:
x = 2.3

if x > 2:
    print("x is greater than two!")
elif x == 2:
    print(" x equals two!")
else:
    print("x is less than two!")

x is greater than two!

# Loops

In [44]:
for x in L:
    print(x)

2
Shiraz
Ahvaz
Mashad
['X', 'Y']
Mashad
['X', 'Y']
['X', 'Y']
X
Y
X
Y

In [45]:
for x in range(10):
    print(x, end=' ')
    if x>=5:
        break

0 1 2 3 4 5

In [46]:
i = 0
x = ''
while x != 'Mashad':
    x = L[i]
    print(x)
    i += 1

2
Shiraz
Ahvaz
Mashad

# Dictionaries

In [47]:
D = {'Hamid': 'male',
     'Elham': 'female',
     'Siavash': 'male'}

D['Hamid']

'male'

In [48]:
# There is no key named as Ahmad
D['Ahmad']

KeyError: 'Ahmad'

In [49]:
# Update the value of the corresponding key
D['Ahmad'] = 'male'

In [50]:
# Access the value of the corresponding key
D['Ahmad']

'male'

# Functions

In [2]:
def func(x, y):
    if x > y:
        return x
    else:
        return y

func(2, 3)

3

In [3]:
# You can return multiple values
def f(x, y):
    return x + y, x * y

f(2, 3)

(5, 6)

# Classes

In [57]:
class Complex:
    # This is the constructor of the class. You can use default arguments for the input variables. 
    def __init__(self, real = 0, imaginary = 0):
        self.real = real
        self.imaginary = imaginary

    # This method tells how to print the objects of type Complex. The methods with two underlines on both sides of their name
    # are called magic or dunder methods.
    def __str__(self):
        return f'({self.get_real()}, {self.get_imaginary()})'

    def get_real(self):
        return self.real

    def get_imaginary(self):
        return self.imaginary

    def sum(self, b):
        c = Complex()
        c.real = self.real + b.real
        c.imaginary = self.imaginary + b.imaginary
        return c

    def multiply(self, b):
        c = Complex()
        c.real = self.real * b.real - self.imaginary * b.imaginary
        c.imaginary = self.real * b.imaginary + self.imaginary * b.real
        return c

a = Complex(0, 1)
b = Complex(2, 1)

print("a =", a, ", b =", b)
print("a + b =", a.sum(b))
print("a * b =", a.multiply(b))

a = (0, 1) , b = (2, 1)
a + b = (2, 2)
a * b = (-1, 2)

# File I/O

In [58]:
f = open("myfile.txt", "w")
print("1 \n 2 \n 3 \n 4", file = f)
f.close()

In [59]:
f = open("myfile.txt", 'r')
L = f.readlines()
f.close()
L

['1 \n', ' 2 \n', ' 3 \n', ' 4\n']

In [60]:
# It is a good practice to use context managers while using resources such as files to ensure closing them after you are done.
with open("myfile.txt", 'r') as f:
    L = f.readlines()

In [61]:
# strip function and its other variants remove white spaces and end-of-line character in a string.
K = [l.lstrip().rstrip() for l in L]
K

['1', '2', '3', '4']

In [63]:
# You can cast to different types as shown below. Integers are casted to floats.
M = [float(x) for x in K]
M

[1.0, 2.0, 3.0, 4.0]

# Exercises

1. Write a function that takes a date of the form jan-08-2018 and converts it to the form 08/01/2018.

2. Write a function that computes $\exp(x)$ using the formula $\exp(x)=1+x+x^2/2!+x^3/3!+...$ . Stop when error is less than 0.001. Implement the factorial yourself.

# Further Learning

Charles Severance, Python for Everybody (Available online).